<html>
<head>
  <meta charset='utf-8' />
  <title>{{options.name}} {{options.version}}</title>
  <link href='assets/bass.css' type='text/css' rel='stylesheet' />
  <link href='assets/style.css' type='text/css' rel='stylesheet' />
  <link href='assets/github.css' type='text/css' rel='stylesheet' />
</head>
<body class='documentation'>
  <a href="https://github.com/mhkeller/indian-ocean"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  <div class='px2'>
    <div class='clearfix flex flex-stretch mxn2'>
      {{#unless options.hideSidebar}}
      <div class='documentation-sidebar relative top-0 bottom-0 right-0 px2 py2 col-3 sm-show'>
        <div class='font-smaller fixed col-3 top-0 bottom-0 left-0 overflow-auto black bg-cloudy'>
          <a href='https://github.com/mhkeller/indian-ocean/' class='h5 button block button-transparent'>{{options.name}} {{options.version}}</a>
          <div class='px2'>
            {{#each docs}}
              <a
                href='#{{permalink}}'
                class='regular block'>
                <code>{{name}}</code>
              </a>
              {{#each members.static}}
                <a
                  href='#{{permalink}}'
                  class='px1 regular block'>
                  <code>.{{name}}</code>
                </a>
              {{/each}}
              {{#each members.instance}}
                <a
                  href='#{{permalink}}'
                  class='px1 regular block'>
                  <code>#{{name}}</code>
                </a>
              {{/each}}
              {{#each events}}
                <a
                  href='#{{permalink}}'
                  class='px1 regular block'>
                  <code>ⓔ {{name}}</code>
                </a>
              {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
      {{/unless}}
      <div class='sm-col {{#unless options.hideSidebar}} lg-col-9 {{/unless}} flex flex-column'>
        <div class='flex-auto full-width'>
          <div class='px1'>
            <section id="introduction" class="mb4 px2">
              <h1><a href="https://github.com/mhkeller/indian-ocean">indian-ocean</a></h1>
              <p>
                <a href="http://travis-ci.org/mhkeller/indian-ocean" target="_blank"><img alt="Build Status" src="https://secure.travis-ci.org/mhkeller/indian-ocean.png?branch=master&style=flat-square"></a>

                <a href="http://badge.fury.io/js/indian-ocean" target="_blank"><img alt="NPM version" src="https://badge.fury.io/js/indian-ocean.png?style=flat"></a>

                <a href="https://www.npmjs.com/package/indian-ocean" target="_blank"><img alt="NPM downloads" src="https://img.shields.io/npm/dm/indian-ocean.svg"></a>

                <a href="https://github.com/feross/standard" target="_blank"><img alt="js-standard-style" src="https://img.shields.io/badge/code%20style-standard-brightgreen.svg?style=flat"></a>                
              </p>
              <h3 class="sub-hed">A NodeJS library for reading and writing data and handy file system utilities. Supports csv, tsv, json, yaml, dbf as well as custom formats and delimeters.</h3>
              <pre>npm install indian-ocean</pre>
              <p><strong>Example:</strong></p>
              <pre>
var io = require(<span class="hljs-string">'indian-ocean'</span>)

var json_data = io.readDataSync('<span class="hljs-string">path/to/data.csv'</span>)

<span class="hljs-built_in">console</span>.log(json_data)

<span class="hljs-comment">/*</span>
<span class="hljs-comment">[</span>
<span class="hljs-comment">  {</span>
<span class="hljs-comment">    "name": "Gerald",</span>
<span class="hljs-comment">    "occupation": "Teacher",</span>
<span class="hljs-comment">    "city": "Philadelphia"</span>
<span class="hljs-comment">  },</span>
<span class="hljs-comment">  {</span>
<span class="hljs-comment">    "name": "Marcy",</span>
<span class="hljs-comment">    "occupation": "Venture Capitalist",</span>
<span class="hljs-comment">    "city": "New York"</span>
<span class="hljs-comment">  }</span>
<span class="hljs-comment">]</span>
<span class="hljs-comment">*/</span>

io.writeDataSync(<span class="hljs-string">'path/to/save/output.json'</span>, json_data)
              </pre>
            </section>
          </div>
          <div class='px1'>
          <h2 class="px2">API Documentation</h2>
{{#each docs ~}}{{> section}}{{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
